/* date format:
`LANG=en_EN date +'(%a, %b %d, %Y %r)'`
*/
* {
	box-sizing: border-box;
}

html, body, div, 
h1, h2, h3, h4, h5, h6, p, label, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

img {
	width: 100%;
	vertical-align: top;
}

label {
	display: block;
	cursor: pointer;
}

body {
	font-family: sans-serif;
	line-height: 1;
	background-color: #F6F6EC;
}

.wrapper {
}

.main-page {
}

.container {
	word-wrap: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.main-page__title {
	padding-bottom: 25px;
	font-weight: 700;
	font-size: 48px;
	
}

.main-page__accordion {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 50px 0;
}

.accordion {
	max-width: 980px;
	width: 100%;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.accordion__item {
	padding: 30px 0;
	border-top: 2px solid #D2D9E2;
}
.accordion__title {
	display: flex;
	column-gap: 30px;
	align-items: center;
	justify-content: space-between;
	font-size: 32px;
	font-weight: 700;
	color: #0059D9;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.accordion__label {
	cursor: pointer;
}
.accordion__icon {
	opacity: 0;
	transition: all 0.3s ease 0s;
}
.accordion__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 30px;
	width: 50%;
	height: 0;
	padding: 0;
	background-color: #777;
	overflow: hidden;
	visibility: hidden;
	transition: all 0.4s ease 0s;
}
.accordion__text {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 500;
	line-height: 120%;
	color: #fff;
	text-align: center;
}
.accordion__image {
	width: 60%;
	margin: 0 auto;
}

.accordion:hover .accordion__title {
	color: #000;
}

.accordion:hover .accordion__icon {
	opacity: 1;
}

.accordion__item:hover .accordion__body {
	width: 50%;
	height: 490px;
	padding: 20px;
	visibility: visible;
	transition: all 0.4s ease 0s;
}

.accordion__item:hover .accordion__icon {
	transform: rotate(45deg);
}

.accordion__input:checked ~ .accordion__title {
	color: #000;
}

.accordion__input:checked ~ .accordion__body {
	width: 50%;
	height: 490px;
	padding: 20px;
	visibility: visible;
	transition: all 0.4s ease 0s;
}

.accordion__input:checked ~ .accordion__title > .accordion__icon {
	transform: rotate(45deg);
}

.accordion__item:active > .accordion__title {
	color: #0059D9;
}

.accordion__item:active > .accordion__title .accordion__icon svg {
	fill: #0059D9;
}

